.container{
    background-color: thistle;
    color: white;
}
#enonce{
}
#balises {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: auto;
}
#text{
    border-left: 2px solid white;
}

#balises #textAInserer{
    margin-top: 20px;
    width: 350px;
    height: 100px;
    font-size: 16px;
    word-break: break-all;
}
#balises #input{
    margin-top: 20px;
    width: 300px;
    height: 30px;
    font-size: 16px;
}
#balises button{
    width: 70px;
    height: 30px;
    font-size: 16px;
    background-color: white;
    color: thistle;
    border: none;
    cursor: pointer;
    margin-left: 15px;
    margin-top: 20px;
}

